* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    background: linear-gradient(to right bottom, #bfe9f0, #de40ed) no-repeat;
}

.container {
    max-width: 1100px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 50px auto;
}
.header {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    padding: 40px 30px 30px 30px;
    border-radius: 25px;
    display: flex;
}
.info-left {
    width: 50%;
    display: flex;
}
.header__img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 25px;
}
.header__logo {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    cursor: pointer;
}
.info__name {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.info__name-text {
    font-size: 25px;
}
.list__social {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.list__social-item {
    list-style: none;
}
.list__social-item a::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 35px;
    height: 14px;
}
.list__social-item a:first-child {
    margin-left: 15px;
}
.list__social-item a {
    color: #000;
    text-decoration: none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    line-height: 1.6;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: white;
    margin-right: 30px;
    transition: 0.5s;
    position: relative;
}
.list__social-item a:hover {
    color: white;
}

.social__haeding {
    position: absolute;
    top: -45px;
    font-size: 16px;
    padding: 4px 6px;
    background-color: turquoise;
    border-radius: 25px;
    color: white;
    letter-spacing: 2px;
    display: none;
}
@keyframes bottom-top {
    0% {
        top: 0px;
    }
    100% {
        top: -45px;
    }
}
.social__haeding::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 10px;
    height: 10px;
    transform: translateX(-50%) rotate(45deg);
    background-color: white;
    display: block;
}
.list__social-item a:hover .social__haeding {
    display: block;
    animation: bottom-top 0.2s;
}
.facebook:hover {
    background-color: #3b5999;
}
.facebook:hover .social__haeding {
    background-color: #3b5999;
}
.facebook:hover .social__haeding::before {
    background-color: #3b5999;
}

.tiktok:hover {
    background-color: #000;
}
.tiktok:hover .social__haeding {
    background-color: #000;
}
.tiktok:hover .social__haeding::before {
    background-color: #000;
}

.instagram:hover {
    background-color: #e1306c;
}
.instagram:hover .social__haeding {
    background-color: #e1306c;
}
.instagram:hover .social__haeding::before {
    background-color: #e1306c;
}

.github:hover {
    background-color: #000;
}
.github:hover .social__haeding {
    background-color: #000;
}
.github:hover .social__haeding::before {
    background-color: #000;
}

.info-right {
    width: 50%;
    margin-left: 80px;
}
.info__right-top {
    display: flex;
    justify-content: space-between;
}
.info__right-top.mt {
    margin-top: 20px;
}
.info__right-information span {
    color: #949295;
    font-size: 14px;
}
.info__right-information p {
    font-size: 16px;
    font-weight: 600;
}

.content {
    display: flex;
    margin-top: 30px;
    position: relative;
}
.content__left {
    width: 18%;
    padding: 20px;
    background-color: #e2daf7;
    border-radius: 20px;
    height: 490px;
}
.content__left-icon {
    text-align: center;
    padding: 14px 8px;
    border-radius: 20px;
}
.content__left-icon:hover {
    cursor: default;
}
.content__left-icon.active {
    background: linear-gradient(142.17deg, #79aef8 6.66%, #de30fd 91.48%);
}
.content__left-icon:hover {
    background: linear-gradient(142.17deg, #79aef8 6.66%, #de30fd 91.48%);
}
.mt {
    margin-top: 10px;
}
.content__left-icon i {
    font-size: 40px;
}
.content__left-icon p {
    margin-top: 10px;
}
.content__right {
    width: 80%;
    height: 100%;
    margin-left: 30px;
    padding: 30px;
    background-color: #e2daf7;
    border-radius: 20px;
}
.content-heading {
    font-weight: 600;
    margin-top: 20px;
}
.content__desc {
    margin-top: 20px;
    font-size: 15px;
}
.content__achievement {
    margin-top: 30px;
    font-weight: 500;
}
.content__img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content__img {
    text-align: center;
    width: 370px;
    margin-top: 30px;
    overflow: hidden;
}
.content__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s;
}
.content__img img:hover {
    transform: scale(1.1);
}

.show {
    display: block !important;
}

/* target */
.content__right-wrapper {
    display: none;
}
.content-heading-target {
    font-weight: 600;
}
.content__target {
    margin-top: 30px;
}
.content__target-title {
    display: flex;
    align-items: center;
}
.content__target-name {
    font-weight: 600;
}
.content__target-title i {
    font-size: 30px;
    margin-right: 20px;
}

.target__info {
    margin-left: 30px;
}
.target__info-wrapper {
    margin-top: 20px;
}
.target__title {
    font-weight: 600;
    position: relative;
}
.target__title::after {
    content: " ";
    position: absolute;
    left: -32px;
    top: 22px;
    width: 1px;
    height: 110px;
    background-color: #ccc;
    display: block;
}
.target__title:before {
    content: " ";
    position: absolute;
    left: -35px;
    top: 10px;
    width: 8px;
    height: 8px;
    background-color: #304cfd;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 0 0.2567rem rgb(46 73 248 / 25%);
}
.target__time {
    color: #4f5554;
    font-size: 14px;
    margin: 6px 0;
}
.target__desc {
    color: #4f5554;
    font-size: 14px;
    text-align: justify;
}
.target__desc a {
    color: #e13e76;
    text-decoration: none;
}
.mt-3 {
    margin-top: 30px;
}
.target__book {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.target__book-wrap {
    width: 130px;
    height: 160px;
    border: 10px solid #e5f0f5;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.target__book-wrap:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.target__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
